* {
	margin: 0px;
	padding: 0px;
}
.homer {
	min-width: 100%;
	min-height: 90%;
	/* height: 625px;
	width: 625px;
	max-height: 315px;
	max-width: 315px;

    width: 100%;
    height: 100%;
	position: absolute;
	background-image: url("images/homer.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	background-size: cover; */
}


/* Top left */
@media (min-width: 1600px) {
	.homer {
		position: absolute;
    	clip: rect(0px,775px,825px,0px);
		

	/* background-position: top left; */
		/* background-position: 0px 0px; */
	}
}


/* Top right */
@media (min-width: 1400px) and (max-width: 1600px) {
	.homer {
		position: absolute;
    	clip: rect(0px,1400px,725px,775px);
	}
}


/* Bottom left */
@media (min-width: 1200px) and (max-width: 1400px) {
	.homer {
		position: absolute;
    	clip: rect(825px,755px,1600px,0px);
	}
}


/* Bottom right */
@media (min-width: 1000px) and (max-width: 1200px) {
	.homer {
		background-position: -310px -310px;
	}
}


/* Bottom left */
@media (min-width: 800px) and (max-width: 1000px) {
	.homer {
		background-position: 0px -310px;
	}
}


/* Top right */
@media (min-width: 600px) and (max-width: 800px) {
	.homer {
		background-position: -310px 0px;
	}
}


/* Top left */
@media (max-width: 600px) {
	.homer {
		background-position: 0px 0px;
	}
}
